a,
a:visited {
  text-decoration: none;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Ubuntu", Helvetica, sans-serif;
}

h3 {
  font-size: 3em;
  letter-spacing: 0.1em;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  padding: 2em;
}
