/*
=============
MAIN STYLING
=============
*/

a,
a:visited {
	text-decoration: none;
}

body {
	margin: 0 !important;
	padding: 0 !important;
	font-family: 'Ubuntu', Helvetica, sans-serif;
}

h2 {
	font-size: 8em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-weight: 400;
	border-bottom: solid 5px;
}

ul {
	font-family: 'Permanent Marker', cursive;
}

.circleNav {
	border: 2px solid white;
	border-radius: 200px;
	width: 200px;
	height: 200px;
	font-weight: 800;
	text-align: center;
	font-size: 100px;
	padding: 0;
	margin: 0 auto;
}

.circleLink {
	text-decoration: none;
	color: black;
}

.circleNav:hover {
	width: 1.2em;
	height: 1.2em;
	cursor: pointer;
}

h3 {
	font-size: 3em;
	letter-spacing: 0.1em;
	font-family: 'Permanent Marker', cursive;
	font-weight: 400;
}

.circImg {
	width: 10em;
	height: 10em;
	display: inline-block;
	border-radius: 100%;
	float: left;
	margin-left: .25em;
}

.descItem {
	font-size: 2em;
	float: right;
	width: 70%;
}

.grey {
	display: none;
}

h5 {
	font-size: 4em;
}

.forForest,
.forIsaac,
.forOcean {
	display: none;
}

.display {
	display: inline-block;
}

h4 {
	font-size: 1.5em;
	font-weight: 700;
	letter-spacing: .2em;
}

.blurb {
	margin: 0 auto;
	font-weight: 200;
	text-align: center;
}

.blurb-2 {
	margin: 0 auto;
	font-weight: 200;
	text-align: center;
	padding-top: 3em;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: .5em;
}

.blurb-2 ul {
	padding: 2px;
	font-family: 'Ubuntu', Helvetica, sans-serif;
	position: relative;
	font-size: 10px;
}

.blurb h3 {
	font-weight: 100;
}

.blurb p {
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: .5em;
}


.colorful {
	text-decoration: none;
	text-transform: uppercase;
	color: hsl(178, 100%, 44%);
	text-shadow: 2px 2px black;
}

.navbar {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.5);
	top: 0;
	margin: 5px;
	width: 100%;
	height: 100px;
}

ul {
	position: absolute;
	top: 0;
	right: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
	padding: 20px;
}

.heroDisc {
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 50%;
}

.jumbo {
	width: 100%;
	height: 70vh;
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;
	margin-top: 75px;
	background-image: url("./assets/images/work.jpg");
	background-size: cover;
}

.card {
	display: inline-block;
	border: 2px solid black;
}

.circMenu {
	display: none;
}

@media (max-width: 630px) {
	h3 {
		font-size: 2em;
	}

	.navMenu {
		display: none;
	}

	.circMenu {
		display: block;
		position: absolute;
		right: 23px;
		top: 0px;
		width: 75px;
		height: 75px;
		border: 2px solid black;
		border-radius: 50%;
	}

	.circPlus {
		font-size: 4em;
		position: absolute;
		right: 25%;
		bottom: 10%;
	}
}

/* NEW CSS */
/* TODO: Delete unused css above */

.page {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0 auto;
}

.title {
	font-weight: 200;
	font-size: 4em;
	padding-top: 4em;
	text-transform: uppercase;
	letter-spacing: .5em;
	text-align: center;
	vertical-align: middle;
}

.title p {
	background: rgba(0, 0, 0, .1);
	margin: 0;
}

.title ul {
	font-family: 'Ubuntu', Helvetica, sans-serif;
	background: rgba(0, 0, 0, .1);
	position: relative;
	font-size: .5em;
}

.mainImg {
	background-image: url("./assets/images/simon-matzinger-285885-unsplash.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.about * {
	margin: 0 auto;
	text-align: center;
}

.about p {
	font-size: 2em;
	letter-spacing: .25em;
	padding: 1em;
}

.about ul {
	font-family: 'Ubuntu', Helvetica, sans-serif;
	position: relative;
	font-size: 2em;
	letter-spacing: .25em;
	text-transform: uppercase;
	background: hsl(178, 100%, 44%);
}

.aboutImg {
	width: 10em;
	height: 10em;
	border-radius: 20em;
	background-image: url("./assets/images/dumbFace.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}