



/*
|============|
Resets for Styling
|============|
*/
body, html, h1, h2, h3, main, header, footer{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Open Sans', serif;
}

body {
  width: 100vw;
  height: 100vh;
}

a, a:visited {
  cursor: pointer;
  text-decoration: none;
}
/*
|============|
INDEX STYLING
|============|
*/


/*
|============|
HERO
|============|
*/
.logo {
  width: 100vw;
  height: 3.25em;
  color: white;
  background-color: hsla(0, 0%, 0%, 0.6);
  position: absolute;
  z-index: 1;
}

.logo h2 {
  padding: 0;
  margin: 0;
  line-height: 3.25em;
  padding-left: 1em;
  font-weight: 400;
  font-size: 1em;
}


.hero {
  background-image: url(../../media/restaurant-hero-image.jpg);
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.hero h1 {
  color: white;
  text-align: center;
  font-weight: 800;
  font-size: 4em;
  padding-top: 2.5em;
  padding-bottom: 1em;
}

.actionCall {
  width: 60%;
  color: white;
  background-color: #59A673;
  height: 2em;
  text-align: center;
  font-size: 2em;
  margin: 0 auto;
  line-height: 2em;
  transition: width 1s;
}

.actionCall:hover {
  width: 80%;
}
/*
|============|
INFORMATION SECTIONS
|============|
*/
.infoSections {
  width: 100vw;
  height: 35vh;
  display: flex;
}

.infoSections header {
  display: flex;
}

.infoSections h3 {
  text-transform: uppercase;
  padding-left: 1em;
  line-height: 2em;
}

.infoSections > article {
  flex-direction: row;
  flex-grow: 1;
  padding-right: 3em;
  padding-left: 3em;
  text-align: justify;
}


/*
|============|
FOOTER
|============|
*/

footer {
  height: 6vh;
  text-align: center;
  color: white;
  background-color: black;
  margin: 0 auto;
}

footer > * {
  padding-left: 1em;
  padding-top: 0;
}

.iconImg {
  width: 2em;
  height: 2em;
}

/*
|============|
JAVSCRIPT
|============|
*/

#menuList {
  overflow-y: scroll;
  height: 10em;
  width: 30%;
}

.menuItem {
  width: 20em;
  height: 3em;
  cursor: pointer;
}

.highlight {
  background-color: grey;
}




#orderList {
  width: 20em;
  height: 30em;
}

#quantity {
  width: 4em;
  height: 4em;
}
